
<style type="text/css">
body {
    margin: auto;
    padding-right: 3em;
    padding-left: 3em;
    //max-width: 44em; 
    border-left: 1px solid black;
    border-right: 1px solid black;
    //color: black;
    font-family: Verdana, sans-serif;
    font-size: 100%;
    line-height: 140%;
    //color: #333; 
    //background-color: #DADADA;
    //background-color: #003300;
    //background-color: #001144;
    //background-color: #001133;
    background-color: #001122;
    //color: #FFFFCC;
    //color: #FFFFDF;
    //color: #FFFFFE;
    //color: #FEFFFF;
    color: #FEFFFF;
    //color: #66cc33;
    //color: #FF0000;
    margin: 7px;
}


pre, code {
   font-family: Consolas, "Liberation Mono", Courier, "Courier New", monospace;
  background-color: black;
}

pre {
    font-size:1.1em;
    border: 1px dotted gray;
    padding: 0.5em;
}

code {
    margin: 0 2px;
    padding: 0 5px;
    border: 1px;
}

a:link { text-decoration: none; color:#C0C0C0; }
//a:visited { text-decoration: none; color:#C0C0C0; }
//a:visited { text-decoration: none; color:#707070; }
//a:visited { text-decoration: none; color:#CFCECD; }
//a:visited { text-decoration: none; color:#9999CC; }
//a:visited { text-decoration: none; color:#99CCFF; }
a:visited { text-decoration: none; color:#99CCCC; }
a:hover  { background-color: #303030; color:yellow;  }
a:active { text-decoration: none; }
a:focus {  color:green; }


pre {
    //background-color: #F8F8F8;
    border-bottom-color: #CCC;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: #CCC;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: #CCC;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: #CCC;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top-style: solid;
    border-top-width: 1px;
    //color: #333;
    display: block;
    margin-bottom: 15px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 15px;
    overflow-x: auto;
    overflow-y: auto;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
}


h1 a, h2 a, h3 a, h4 a, h5 a { 
    text-decoration: none;
    //color: #7a5ada;
    //color: #6a5ada; 
}
h1, h2, h3, h4, h5 {
    font-family: verdana;
    font-weight: bold;
    //border-bottom: 1px dotted white;
    border-bottom: 1px outset white;
    color: #EaEaea;
}
h1 {
    font-size: 130%;
}

h2 {
   font-size: 110%;
}

h3 {
   font-size: 95%;
}

h4 {
   font-size: 90%;
   font-style: italic;
}

h5 {
   font-size: 90%;
   font-style: italic;
}

h1.title {
   font-size: 200%;
   font-weight: bold;
   padding-top: 0.2em;
   padding-bottom: 0.2em;
   text-align: left;
   border: none;
}

/*
dt code {
   font-weight: bold;
}

dd p {
   margin-top: 0;
}
*/

#footer {
   padding-top: 1em;
   font-size: 70%;
   color: gray;
   text-align: center;
}
</style>

