
<style type="text/css">
body {
    margin: auto;
    padding-right: 3em;
    padding-left: 3em;
    //max-width: 44em; 
    border-left: 1px solid black;
    border-right: 1px solid black;
    color: black;
    font-family: Verdana, sans-serif;
    font-size: 100%;
    //line-height: 140%;
    color: #333; 
}

/* http://perishablepress.com/perfect-pre-tags/
code, samp, kbd {
	font-family: "Courier New", Courier, monospace, sans-serif;
	text-align: left;
	color: #555;
	}
pre code {
	line-height: 1.6em;
	font-size: 11px;
	}
pre {
	padding: 0.1em 0.5em 0.3em 0.7em;
	border-left: 11px solid #ccc;
	margin: 1.7em 0 1.7em 0.3em;
	overflow: auto;
	width: 93%;
	}
*/
/* target IE7 and IE6 */
/*
*:first-child+html pre {
	padding-bottom: 2em;
	overflow-y: hidden;
	overflow: visible;
	overflow-x: auto; 
	}
* html pre { 
	padding-bottom: 2em;
	overflow: visible;
	overflow-x: auto;
	}
*/



pre {
    border: 1px dotted gray;
    background-color: #ECECEC;
    color: #111111;
    padding: 0.5em;
    overflow: auto;
}

pre, code, tt {
   font-family: Consolas, "Liberation Mono", Courier, Menlo, Monaco, "DejaVu Sans Mono", "Andale Momo", Courier, monospace;
}

code {
    //font-family: monospace;
    background-color: #F8F8F8;
    margin: 0 2px;
    padding: 0 5px;
    border: 1px solid #EAEAEA;
    background-color: #F8F8F8;
}

/*
pre {
    background-color: #F8F8F8;
    border-bottom-color: #CCC;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: #CCC;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: #CCC;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: #CCC;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top-style: solid;
    border-top-width: 1px;
    color: #333;
    display: block;
    font-family: Consolas, 'Liberation Mono', Courier, monospace;
    margin-bottom: 15px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 15px;
    overflow-x: auto;
    overflow-y: auto;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
}
*/

h1 a, h2 a, h3 a, h4 a, h5 a { 
    text-decoration: none;
    /* color: #7a5ada; */
    color: #6a5ada; 
}
h1, h2, h3, h4, h5 {
    font-family: verdana;
    font-weight: bold;
    border-bottom: 1px dotted black;
    //color: #7a5ada;
}
h1 {
    font-size: 130%;
}

h2 {
   font-size: 110%;
}

h3 {
   font-size: 95%;
}

h4 {
   font-size: 90%;
   font-style: italic;
}

h5 {
   font-size: 90%;
   font-style: italic;
}

h1.title {
   font-size: 200%;
   font-weight: bold;
   padding-top: 0.2em;
   padding-bottom: 0.2em;
   text-align: left;
   border: none;
}


dt code {
   font-weight: bold;
}

dd p {
   margin-top: 0;
}

#footer {
   padding-top: 1em;
   font-size: 70%;
   color: gray;
   text-align: center;
}
</style>

